appnope==0.1.0
asttokens==2.0.5
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
bokeh==2.4.2
certifi==2019.9.11
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
cloudpickle==1.2.2
colorcet==2.0.2
cycler==0.10.0
dask==2.7.0
datashader==0.13.0
datashape==0.5.2
debugpy==1.6.0
decorator==4.4.1
distributed==2022.4.0
entrypoints==0.4
executing==0.8.3
fast-histogram==0.10
fsspec==2022.3.0
HeapDict==1.0.1
holoviews==1.14.8
idna==3.3
imageio==2.6.1
importlib-metadata==4.11.3
ipykernel==6.12.0
ipython==8.2.0
jedi==0.18.1
Jinja2==2.10.3
joblib==1.1.0
jupyter-client==7.2.1
jupyter-core==4.9.2
kiwisolver==1.1.0
llvmlite==0.36.0
locket==0.2.1
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.1.1
matplotlib-inline==0.1.3
mpl-scatter-density==0.7
msgpack==1.0.3
multipledispatch==0.6.0
nest-asyncio==1.5.5
networkx==2.4
numba==0.53.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
panel==0.12.7
param==1.12.1
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyct==0.4.6
Pygments==2.11.2
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2022.1
pyviz-comms==2.2.0
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==22.3.0
requests==2.27.1
scikit-image==0.16.2
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.3.2
seaborn==0.11.2
six==1.13.0
sklearn==0.0
sortedcontainers==2.4.0
stack-data==0.2.0
tblib==1.7.0
threadpoolctl==3.1.0
toolz==0.11.2
tornado==6.0.3
tqdm==4.64.0
traitlets==5.1.1
typing-extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
xarray==2022.3.0
zict==2.1.0
zipp==3.8.0
